* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

a {
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

@media (min-width: 900px) {
  nav[style] {
    display: flex !important;
  }

  button[aria-label="Open menu"],
  button[aria-label="Close menu"] {
    display: none !important;
  }
}
